body {
    background-color: #96C5F7;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    /*background-color: #415A77;*/
    margin: 20px;
    display: flex;
    justify-content: center;
}

#grid {
    margin: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 600px;
}

#bottom {
    margin-bottom: 10px;
}